@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 207 33% 25%;
    --card: 208 100% 97%;
    --card-foreground: 207 33% 25%;
    --popover: 208 100% 97%;
    --popover-foreground: 207 33% 25%;
    --primary: 197 71% 73%;
    --primary-foreground: 207 33% 25%;
    --secondary: 208 50% 93%;
    --secondary-foreground: 207 33% 25%;
    --muted: 208 50% 93%;
    --muted-foreground: 207 20% 55%;
    --accent: 160 100% 75%;
    --accent-foreground: 160 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 40% 90%;
    --input: 208 40% 94%;
    --ring: 197 71% 73%;
    --chart-1: 197 71% 73%;
    --chart-2: 160 100% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 207 33% 15%;
    --foreground: 208 50% 93%;
    --card: 207 33% 15%;
    --card-foreground: 208 50% 93%;
    --popover: 207 33% 15%;
    --popover-foreground: 208 50% 93%;
    --primary: 197 71% 73%;
    --primary-foreground: 207 33% 15%;
    --secondary: 207 33% 25%;
    --secondary-foreground: 208 50% 93%;
    --muted: 207 33% 25%;
    --muted-foreground: 208 30% 75%;
    --accent: 160 100% 75%;
    --accent-foreground: 160 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 33% 25%;
    --input: 207 33% 25%;
    --ring: 197 71% 73%;
    --chart-1: 197 71% 73%;
    --chart-2: 160 100% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
